* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100vh;
  background: #111;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
  color: #ff6b6b;
}

.resume-btn {
  display: block;
  margin-top: 40px;
  padding: 10px;
  background: #ff6b6b;
  color: white;
  text-align: center;
  border-radius: 6px;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 28px;
  position: fixed;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 1000;
  color: #111;
}

/* Main */
main {
  margin-left: 220px;
  padding: 50px;
  width: calc(100% - 220px); 
  flex: 1; /* pushes footer down */
}

.section {
  padding: 20px 0;
}

.hero {
  text-align: center;
  background: #f7f7f7;
  border-radius: 10px;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 48px;
}

.cta-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #111;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.skills-grid,
.projects-grid {
  display: grid;
  gap: 10px;
  margin-top: 30px;
}

.skills-grid {
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.projects-grid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-description {
     margin-bottom: 15px; /* Adds space between the description and the project links */
}

.project-links a {
  display: block;
  margin-bottom: 10px; /* Adds space between the link and technologies used text */
}

.project-link {
  margin-top: 15px; /* Adds space between the link and technologies used section */
}

.skill-card,
.project-card {
  padding: 20px;
  background: #f0f0f0;
  border-radius: 8px;
  transition: 0.3s;
}

.skill-card:hover,
.project-card:hover {
  transform: translateY(-5px);
}

.p2 {
    margin-top: 10px;
}

footer {
  margin-left: 220px;
  width: calc(100% - 220px); 
  margin-top: auto;
  background: #f7f7f7;
  text-align: center;
  padding: 40px 20px;
}

/* Mobile */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.active {
    transform: translateX(0);
  }

  main {
    margin-left: 0;
    width: 100%;
    padding: 30px;
  }

  footer {
    margin-left: 0;
    width: 100%;
  }
}